# =========================
# PostgreSQL
# =========================
#.env.db
POSTGRES_DB=conduit
POSTGRES_USER=admin
POSTGRES_PASSWORD=testpassword

#.env
POSTGRES_HOST=database
POSTGRES_PORT=5432

# =========================
# Django
# =========================
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=adminpassword
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,your_IP_address_here
DJANGO_SECRET_KEY='YOUR_SECRET_KEY'   

# =========================
# Backend Port 
# =========================
APPLICATION_PORT=8000
